In [9]:
import pickle
import pandas as pd

In [10]:
with open('RPI_inferences_mnist_2mac.pkl', 'rb') as f:
    results_mnist = pickle.load(f)

In [30]:
with open('RPI_inferences_cifar_10_5mac.pkl', 'rb') as f:
    results_cifar10 = pickle.load(f)

In [34]:
results_cifar10[0].append(results_cifar10[0].std(), ignore_index = True)

,./cifar10_tflite_models/CNN_cifar10_model.tflite,./cifar10_tflite_models/CNN_cifar10_model_quant.tflite,./cifar10_tflite_models/CNN_cifar10_model_quant16.tflite,./cifar10_tflite_models/CNN_cifar10_model_quant8.tflite,./cifar10_tflite_models/FFNN_cifar10_model.tflite,./cifar10_tflite_models/FFNN_cifar10_model_quant.tflite,./cifar10_tflite_models/FFNN_cifar10_model_quant16.tflite,./cifar10_tflite_models/FFNN_cifar10_model_quant8.tflite,cnn,ffnn
0,1.100000,1.470000,0.970000,9.26,0.980000,1.010000,0.880000,13.45000,0.790000,1.180000
1,1.080000,1.300000,1.100000,9.94,0.960000,1.000000,0.880000,13.59000,0.700000,0.940000
2,0.960000,1.130000,1.160000,9.68,0.910000,1.010000,0.910000,14.34000,0.740000,0.910000
3,0.960000,0.980000,1.080000,9.03,0.950000,0.990000,0.980000,14.25000,0.720000,0.850000
4,1.070000,0.980000,1.210000,9.24,0.970000,1.000000,0.920000,13.80000,0.740000,1.030000
5,0.068411,0.212532,0.090719,0.37,0.027019,0.008367,0.040988,0.39488,0.033466,0.128335

In [11]:
results_mnist[0]

,./mnist_tflite_models/CNN_mnist_model.tflite,./mnist_tflite_models/CNN_mnist_model_quant.tflite,./mnist_tflite_models/CNN_mnist_model_quant16.tflite,./mnist_tflite_models/CNN_mnist_model_quant8.tflite,./mnist_tflite_models/FFNN_mnist_model.tflite,./mnist_tflite_models/FFNN_mnist_model_quant.tflite,./mnist_tflite_models/FFNN_mnist_model_quant16.tflite,./mnist_tflite_models/FFNN_mnist_model_quant8.tflite,cnn,ffnn
0,0.76,0.77,0.75,3.67,0.66,0.82,0.66,8.73,0.53,0.74
1,0.76,0.77,0.76,3.27,0.66,0.76,0.63,9.55,0.36,0.66

In [18]:
l = results_mnist[0].mean()

In [21]:
df = results_mnist[0]

In [29]:
df.append(df.std(), ignore_index=True)

,./mnist_tflite_models/CNN_mnist_model.tflite,./mnist_tflite_models/CNN_mnist_model_quant.tflite,./mnist_tflite_models/CNN_mnist_model_quant16.tflite,./mnist_tflite_models/CNN_mnist_model_quant8.tflite,./mnist_tflite_models/FFNN_mnist_model.tflite,./mnist_tflite_models/FFNN_mnist_model_quant.tflite,./mnist_tflite_models/FFNN_mnist_model_quant16.tflite,./mnist_tflite_models/FFNN_mnist_model_quant8.tflite,cnn,ffnn
0,0.76,0.77,0.750000,3.670000,0.66,0.820000,0.660000,8.730000,0.530000,0.740000
1,0.76,0.77,0.760000,3.270000,0.66,0.760000,0.630000,9.550000,0.360000,0.660000
2,0.00,0.00,0.007071,0.282843,0.00,0.042426,0.021213,0.579828,0.120208,0.056569

In [ ]:
import tensorflow as tf
import numpy as np

cifar = tf.keras.datasets.cifar100
(train_images, train_labels), (test_images, test_labels) = cifar.load_data()
train_images = train_images.astype(np.float32) / 255.0
test_images = test_images.astype(np.float32) / 255.0


print(test_images.shape)
print((test_labels.shape))

mnist = tf.keras.datasets.mnist
(train_images, train_labels), (test_images, test_labels) = mnist.load_data()
print(test_images.shape)