In [26]:
import matplotlib.pyplot as plt 
import pandas as pd
from scipy.optimize import curve_fit
import numpy as np

In [27]:
data = pd.read_csv('RPI_inferences_loop_5.csv')

In [28]:
names = ['cnn_converted', 'cnn_quant', 'cnn_quant16', 'cnn_quant8', 'ffnn_converted', 'ffnn_quant', 'ffnn_quant16', 'ffnn_quant8']
ind = [0,1,2,3,4,5,6,7]
old_names = data.columns[ind]
data.rename(columns=dict(zip(old_names, names)),inplace=True)

In [29]:
data

,cnn_converted,cnn_quant,cnn_quant16,cnn_quant8,ffnn_converted,ffnn_quant,ffnn_quant16,ffnn_quant8,cnn,ffnn_mod
0,4.62,4.63,4.61,3.23,8.66,5.45,8.87,13.36,3.80,7.50
1,4.64,4.62,4.61,3.24,8.66,5.44,8.86,13.38,3.25,6.83
2,4.61,4.62,4.62,3.24,8.68,5.44,8.88,13.39,3.30,6.80
3,4.62,4.62,4.61,3.24,8.66,5.46,8.98,13.39,3.27,6.85
4,4.62,4.62,4.62,3.23,8.68,5.44,8.97,13.38,3.27,6.79